<br>
<main class="index">
    <div class="container text-center my-auto">

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/3.jpeg" class="d-block w-100" alt="400">
                </div>
                <div class="carousel-item">
                    <img src="/img/2.jpeg" class="d-block w-100" alt="400">
                </div>
                <div class="carousel-item">
                    <img src="/img/1.jpeg" class="d-block w-100" alt="400">
                </div>
            </div>
        </div>

        <div class="overlay"></div>
</main>
<br>
<br>