<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-primary" >

  
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-link"></i> Sibalha
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          Donadoras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/links">Donadoras Registradas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/links/add">Añadir Donadora</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Salir</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signin">Iniciar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>