<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">

            <div class="card">
                <div class="card-body">
                    <form action="/links/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Nombre Completo" >
                        </div>
                        <div class="form-group">
                            <input type="text" name="url" class="form-control" placeholder="URL">
                        </div>
                        <div class="form-group">
                            <input type="text"  name="description" rows="2" class="form-control" placeholder="Description">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>