<div class="col-md-4 mx-auto">

    <div class="card">
        <div class="card-body">
            <form action="/links/edit/{{link.id}}" method="POST">
                <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Nombre completo" value="{{link.title}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="url" class="form-control" placeholder="URL" value="{{link.url}}">
                </div>
                <div class="form-group">
                    <input type="text" name="description" class="form-control" placeholder="Description" value="{{link.description}}">
                </div>
                <div class="form-group">
                    <button class="btn btn-success btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>