<div class="container p-4">
    <div class="row">
        {{#each links}}
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <a href="">
                        <h3 class="card-title text-uppercase">
                            {{title}}
                        </h3>
                    </a>
                    <p class="m-2">{{url}}</p>
                    <p class="m-2">{{description}}</p>
                    <p class="text-muted">
                        {{timeago created_at}}
                    </p>
                    <a class="btn btn-danger" href="/links/delete/{{id}}">
                        Borrar
                    </a>
                    <a class="btn btn-secondary" href="/links/edit/{{id}}">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay donadoras registradas todavía.</p>
                <a href="/links/add">Registrar una!</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>