<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Login</h3>
        </div>
        <img src="/img/log.jpg" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-50">
        <div class="card-body">
          <form action="/signin" method="POST">
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">
              Entrar
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>