<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Registrarse</h3>
        </div>
        <div class="card-body">
         
          <form action="/signup" id="formID" method="POST" onsubmit="return validaCampos();">
            <div class="form-group">
              <input type="type" id="nombre" name="fullname" placeholder="Nombre completo" class="form-control"
                autofocus onkeypress="return soloLetras(event)" >
            </div>

            <div class="form-group">
              <input type="text" id="cuenta" name="username" placeholder="No Cuenta" class="form-control"
                onkeypress="solonumeros(event);">
            </div>

            <div class="form-group">
              <input type="password" id="contrasena" name="password" placeholder="Contraseña" class="form-control">
            </div>

            <div class="form-group">
              <button class="btn btn-success btn-block">
                Guardar
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>



<script>
  function solonumeros(e) {
    var key = window.event ? e.which : e.keyCode;
    if (key < 48 || key > 57)
      e.preventDefault();
  }

  toastr.options = {
    "closeButton": false,
    "debug": false,
    "newestOnTop": false,
    "progressBar": false,
    "positionClass": "toast-top-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }

  function validaCampos() {

    var nombre = $("#nombre").val();
    var contrasena = $("#contrasena").val();
    var cuenta = $("#cuenta").val();
    //validamos campos
    if ($.trim(nombre) == "") {
      toastr.error("No ha ingresado Nombre", "Aviso!");
      return false;
    }

    if ($.trim(contrasena) == "") {
      toastr.error("No ha ingresado Contraseña", "Aviso!");
      return false;
    }

    if (cuenta < 0) {
      toastr.error("Mínimo permitido 0", "Aviso!");
      return false;
    }

    /*
        if ($.trim(edad) == "") {
          toastr.error("No ha ingresado Edad", "Aviso!");
          return false;
        }
    
        if (edad < 0) {
          toastr.error("Mínimo permitido 0", "Aviso!");
          return false;
        }
        if ($.trim(direccion) == "") {
          toastr.error("No ha ingresado Dirección", "Aviso!");
          return false;
        }
    */
  }
  function soloLetras(e) {
    var key = e.keyCode || e.which,
      tecla = String.fromCharCode(key).toLowerCase(),
      letras = " áéíóúabcdefghijklmnñopqrstuvwxyz",
      especiales = [8, 37, 39, 46],
      tecla_especial = false;

    for (var i in especiales) {
      if (key == especiales[i]) {
        tecla_especial = true;
        break;
      }
    }

    if (letras.indexOf(tecla) == -1 && !tecla_especial) {
      return false;
    }
  }
</script>